h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

header {
    color: #ffffff;
    font-size: 40px;
}

a, p {
    font-size: 18px;
    color: #777777;
    text: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("../images/circles-light.png");
    
}

#bio {
    margin-right: 15px;
    float: left;
}

.name {
    text-align: center;
    margin-left: 13%;
    top: 1%;
    height: 60px;
    position: absolute;
    background-color: #4aaaa5;
    z-index: 2;
}

.navigation {
    position: relative;
    width: 100%;
    padding-right: 5%;
    text-align: center;
    text-align: right;
    background-color: #ffffff;
    margin-top: 0;
    height: 60px;
    font-size: 18px;
    z-index: 1;
}


.content {

    width: 960px;
    border-color: #dddddd;
    padding-top: 5%;
}
    
    
    


.main {
    position: absolute;
    width: 650px;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 12px;
    margin-right: 40px;
    left: 13%;
    margin-top: 25px;
    /* margin-left: 13%; */
    
}

.sidebar {
  text-align: center;
  width: 270px;
  background-color: #ffffff;
  position: absolute; 
  right:20%; 
  
  /* margin-right: 13%; */
  margin-top: 25px;
}