h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

header {
    float: left;
    background-color: #ffffff;
    border-color: #cccccc;
}

a, p {
    color: #777777;
    text: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: (circles-light.png);
}

.content {
    width: 960px;
    
}

.main {
    postition: absolute;
    width: 650px;
    background-color: #ffffff;
    border-color: #dddddd;
}

